@font-face
{
	font-family: LatoSemiBold;
	src: url(../fonts/Lato-Semibold.ttf);
}
body
{
    font-family: "LatoSemiBold", sans-serif;
    font-size: 10px;
	color: #222 !important;
}

h3, .h3
{
    font-size: 2.25rem;
}

h4, .h4
{
    font-size: 1.75rem;
}

.navbar
{
	margin-bottom: 0px;
}
.navbar .container-fluid
{
	padding: 0px 20px;
}

.navbar-default
{
    border: none;
}
.navbar-default .navbar-nav > li > a
{
    font-size: 1.50rem;
	text-transform: uppercase;
}
.navbar .container
{
	padding: 5px 0px;
}

.home_logo
{
	background-color: white;
	/*width: 100px;*/
	width: 18px;
}
.home_logo_main
{
	background-color: white;
	width: 100px;
}
.cc_tableContainer
{
	width: 97%;
	height: 600px;
    overflow-x: auto;
    overflow-x: hidden;
}

.cc_table-responsive
{
	width: 100%;
    overflow: hidden;
    overflow-x: auto;
}

thead td
{
	min-width: 150px;
	font-size: 1.2rem;
	font-weight: bold;
	padding: 5px 18px !important;
}

.cc_fixedHead
{
	position: relative;
	top: 0px;
	left: 0px;
	width: 1370px;
	display: block;
}

.cc_pageButtons
{
	position: absolute;
	top: 55px;
    right: 2%;
}

.dataTables_wrapper
{
	/*overflow-x: scroll;
    overflow-y: auto;
    height: 540px;*/
}

.mainBtns, .secBtns
{
	width: 150px;
	margin-bottom: 5px;
}
.secBtns
{
	display: none;
}
select
{
	box-shadow: none !important;
}
.btn
{
    padding: 4px 9px;
}

.form-control
{
	font-size: inherit;
	height: 28px;
    padding: 3px 6px;
}

table.dataTable tbody th, table.dataTable tbody td
{
    padding: 3px 10px;
}

/* added - 30Sep2019 */
table, table label, table input
{
	font-size: 10px !important;
}
/* added - 30Sep2019 */

.setEllipsis
{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.mt-7
{
	margin-top: 7px;
}

.inputField{
	border-radius: 4px !important;
}

.DCMKeyTable>table>thead
{
	background-color: #1d2b5d;
    color: white;
}

.cc_fixedHeadTableContainer>tr>.td{
	width: 0px !important;
	min-width: 0px !important;
}
.DCMKeyTable>table{
	table-layout: fixed;
	width: 730px;
}
.DCMKeyTable>table>tbody>tr>td{
    padding: 3px 3px;
}

/*------sweet alert styles----*/
.sweet-alert{
	margin-top: -100px !important;
}
.sweet-alert>h2 {
  font-size: 17px;
  margin: 5px 0px 0px 0px;
}
.sweet-alert>.lead {
  margin: 28px 0px 10px 0px;
	font-size: 14px;
	font-weight: 200;
	line-height: 1.4;
}