/* REF: https://colorpalettes.net/color-palette-3955/ */
body
{
	background-color: #555;
}
.navbar-default
{
    background-color: #ef5b24;
    /*border-color: #e7e7e7;*/
}
.navbar-default .navbar-nav > li > a
{
    color: white;
}
.navbar-default .navbar-nav > li > a:hover
{
	color: white;
    text-decoration: underline;
}
.cc_tableContainer
{
    background-color: white;
}

.cc_fixedHeadTableContainer
{
	border: 1px solid rgba(0,0,0,0.25);
}

table.dataTable
{
	border: 1px solid #CCC;
	paddding-right: 15px;
}

table.dataTable thead .sorting
{
    background-color: #1d2b5d;
    color: white;
}

table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc
{
	background-color: #3d4d82;
    color: white;
}

table.dataTable thead td+td
{
	border-right: 1px solid #CCC;
}

table.dataTable tbody td+td, table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1
{
	border-right: 1px solid #CCC;
}

table.dataTable.no-footer
{
    border-bottom: 1px solid #999;
}

table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1
{
	background-color: #FFF;
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
}